<!DOCTYPE html>
<html>
  <head>
    <title>3rd model</title>
     <link rel="stylesheet" href="/static/css/4-5.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rasa:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
  
     <div class="topnav">
    <a class="home" href="/LMList/homepage">Home</a>
    <a href="/LMList/service">Services</a>
    <a href="/LMList/works">How it Works</a>
    <a href="/LMList/fifth">About</a>
  </div>
  </head>
  <body>
    <div class="testbox">
    <form method="POST" action="/LMList/confirmation">
      <div class="banner">
        
      </div>
      <br/>
      <fieldset>
        <legend>Background</legend>
        <div class="colums">
          <div class="item">
            <label for="fname"><b>Work Experience</b></label>
            <input id="weperience" type="text"  name="weperience" required/>
          </div>
          <div class="item">
            <label for="lname"> <b>Seminars Attended</b></label>
            <input id="sattended" type="text"   name="sattended" required/>
          </div>
          <div class="item">
            <label for="address"><b>Skills</b> </label>
            <input id="skills" type="text"   name="skills" required/>
          </div>
          
      </fieldset>
      <br/>
      <fieldset>
      <legend>Appointment</legend>
      <div class="colums">
        <div class="item">
            <label for="phone"><b>Contract Details</b> </label>
            <input id="cetails" type="text"   name="cetails" required/>
          </div>
          <div class="item">
            <label for="saddress"><b>Termination </b></label>
            <input id="termination" type="text"   name="termination" required/>
          </div>
          <div class="item">
            <label for="city"><b>Promotions</b></label>
            <input id="promotions" type="text" name="promotions" required/>
          </div>
          <div class="item">
            <label for="zip"><b>Position</b></label>
            <input id="position" type="text"   name="position" required/>
          </div>

        
          
      </div>
      
      </div>
      {% csrf_token %}
      </fieldset>
      <div class="btn-block">
      <button type="order" href="/LMList/confirmation">Enter</button>
      </div>
    </form>
    </div>
  </body>
</html>