<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/about.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">



</head>
  <div class="topnav">
    <a class="active" href="/LMList/homepage">Home</a>
    <a href="/LMList/third">Employee</a>
    <a href="/LMList/fourth">Background/Appointmet</a>
    <a href="/LMList/service">Services</a>
    <a href="/LMList/works">How it Works</a>
    <a href="/LMList/fifth">About</a>
  </div>
<body>
  <body>
    
  
    <div class="about">
      <p>When you give the information asked by this website, <b>Company Management System</b>  will know your history with the companies you have worked before."</p>
    </div>
        </script>
    
    </html>
  </body>