<!DOCTYPE html>
 <html>
  <head>
    <title>2ndmodel</title>
     <link rel="stylesheet" href="/static/css/branch.css" />
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rasa:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
 
  </head>
  <div class="topnav">
    <a class="active" href="/LMList/homepage">Home</a>
    <a href="/LMList/service">Services</a>
    <a href="/LMList/works">How it Works</a>
    <a href="/LMList/fifth">About</a>
  </div>
  <body>

   
    <div class="testbox">
    <form method="POST" action="/LMList/third">
      <div class="banner">
      
      </div>
      <br/>
      <fieldset>
        <legend>Branch</legend>
        <div class="colums">
          <div class="item">
            <label for="fname"><b>Company Branch</b></label>
            <input id="location" type="text"  name="location" required/>
          </div>
          <div class="item">
            <label for="lname"> <b>Company Address</b></label>
            <input id="Caddress" type="text"   name="Caddress" required/>
          </div>
          <div class="item">
            <label for="lname"> <b>Company Email</b></label>
            <input id="Cemail" type="email"   name="Cemail" required/>
          </div>
          <div class="item">
            <form id="Cnumber" action="javascript:void(0)">
             <div>
             <label for="Cnumber_phone"><b>Phone No.#:</b></label>
             <input type="tel" id="Cnumber" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required/>
             </div>

          <div class="item">
            <label for="address"><b>Contact No.#</b> </label>
            <input id="pnumber" type="tel"   name="pnumber" required/>
          </div>
          
      </fieldset>
      <br/>
      {% csrf_token %}
      <div class="btn-block">
      <button type="order" >Proceed</button>
      </div>
    </form>
    </div>
     <table id="id_table" name='tr'>
       <tr>
       {% for qbranch in qbranch.qbranch_set.all %} 
       <! -- {{ forloop.counter }}:  -->
               <td>{{ qbranch.hcompany_name }}</td>
   
         <td>{{ qbranch.hdate_establish }}</td>
        
        <td>{{ qbranch.htype}}</td>
          </tr>
        {% endfor %}
    </table>
    <script>
      var phone_input = document.getElementById("Cnumber");

phone_input.addEventListener('input', () => {
 phone_input.setCustomValidity('');
 phone_input.checkValidity();
});

phone_input.addEventListener('invalid', () => {
 if(phone_input.value === '') {
   phone_input.setCustomValidity('Enter phone number!');
 } else {
   phone_input.setCustomValidity('Enter phone number in this format: 123-456-7890');
 }
});
  </script>
 

  </body>
 