<!DOCTYPE html>
<html>
  <head>

<div class="wrapper">
	<div class="registration_form">
		<div class="title">
			Company
		</div>
		 <link rel="stylesheet" href="/static/css/company.css" />
		 <style>
		body {
	background: url(/static/image/image2.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
    
}

		 </style>


		
 </head>


	<body>


		<form method="POST" action="/LMList/next">
		
			
			<div class="form_wrap">
				<label style="font-family: 'Montserrat', sans-serif;" label > Date Establish: 
					<input type=date id = DOB onblur = "ageCalculator()" name="birthday" > </label>
					<span   id = "message"> </span>  
					<label style= " margin-left: 30%; margin-top: 8%; font-size: 17px; color:rgb(7, 6, 6) " id="result" align="center" ></label> 

				<div class="input_wrap">
					<label for="fname">Company Name</label>
					<input type="text" id="Cname" placeholder="Enter your fullname" name="Cname"required/>
				</div>

				<div class="input_wrap">
					<label for="email">Company Description</label>
					<input type="text" id="Cdescrption" placeholder="Enter a company description" name="Cdescrption" required/>
				</div>
			
				<div class="input_wrap">
					<label for="city"> Mission </label>
					<input type="text" id="mission" placeholder="Mission of company" name="mission"required/>
				</div>
				<div class="input_wrap">
					<label for="country"> Vission </label>
					<input type="text" id="vision" placeholder="Vission of company" name="vission"required/>

						<div class="input_wrap">
					<label for="city"> Types of Company</label>
					<select id="mySelect" onchange="myFunction()">
					<option value="Selecttion">Selection</option>
						<option value="Sole proprietorship">Sole proprietorship</option>
						<option value="Partnership">Partnership</option>
						<option value="Limited liability company">Limited liability company</option>
						<option value="Corporation ">Corporation</option>
						<option value="Cooperative">Cooperative</option>
					  </select>
					  <p id="demo"></p>
					  
				</div>


				</div>
				
				{% csrf_token %}
				<div class="input_wrap">
					<input type="submit" id="btnContinue" name="btnContinue" value="Continue" class="submit_btn">
				</div>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
        
    
    function ageCalculator() {
        var userinput = document.getElementById("DOB").value;
        var dob = new Date(userinput);
        if(userinput==null || userinput=='') {
          document.getElementById("message").innerHTML = "**Choose a date please!";  
          return false; 
        } else {
        
        //calculate month difference from current date in time
        var month_diff = Date.now() - dob.getTime();
        
        //convert the calculated difference in date format
        var age_dt = new Date(month_diff); 
        
        //extract year from date    
        var year = age_dt.getUTCFullYear();
        
        //now calculate the age of the user
        var age = Math.abs(year - 1970);
        
        //display the calculated age
        return document.getElementById("result").innerHTML =  
                 "Around: " + age + " years. ";
        }
    }

    	function myFunction() {
  var x = document.getElementById("mySelect").value;
  document.getElementById("demo").innerHTML = "You selected: " + x;
}
    
    </script>
</body>