<!DOCTYPE html>
<html>
  <head>
    <title>2ndmodel</title>
     <link rel="stylesheet" href="/static/css/employee.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rasa:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  
       <div class="topnav">
    <a class="active" href="/LMList/homepage">Home</a>
    <a href="/LMList/third">Employee</a>
    <a href="/LMList/fourth">Background/Appointmet</a>
    <a href="/LMList/service">Services</a>
    <a href="/LMList/works">How it Works</a>
    <a href="/LMList/fifth">About</a>
  </div>
  </head>
  <body>
    <div class="testbox">
    <form method="POST" action="/LMList/fourth">
      <div class="banner">
       
      </div>
      <br/>
      <fieldset>
        <legend>Employee</legend>
        <div class="colums">
          <div class="item">
              <label for="phone"><b>Full name</b> <span>*</span></label>
              <input id="Fname" type="text"   name="Fname" required/>
            </div>
            <div class="item">
              <label for="saddress"><b>College </b><span>*</span></label>
              <input id="college" type="text"   name="college" required/>
            </div>
          
            <b class="item" label for="city"> Enter Date of Birth: 
              <input type=date id = DOB onblur = "ageCalculator()" name="birthday" > </b>
              <span   id = "message"> </span>  
              <label style= "margin-left: -10%; margin-top: 3%; font-size: 23px; color:rgb(7, 6, 6) " id="result" align="left" ></label> 


            <div class="item">
              <label for="zip"><b>Primary Level</b><span>*</span></label>
              <input id="primary" type="text"   name="primary" required/>
            </div>
         
            <div class="item">
              <label for="country"><b>Secondary Level</b> <span>*</span></label>
              <input id="zip" type="text" name="zip" required/>
            </div>
            <div class="item">
              <label for="country"><b>Address</b> <span>*</span></label>
              <input id="address" type="text"   name="address" required/>
            </div>
        </div>

        <script type="text/javascript">
    function ShowHideDiv() {
        var sstatus = document.getElementById("sstatus");
        var mmartial = document.getElementById("mmartial");
        mmartial.style.display = sstatus.value == "M" ? "block" : "none";
    }
</script>
<span>Martial Status</span>
    <select id = "sstatus" onchange = "ShowHideDiv()">
        <option >Select</option>
        <option value="N">Unmarried</option>
        <option value="M">Married</option>            
    </select>
<hr />
<div id="mmartial" style="display: none">
    Name of Wife/Husband:
    <input type="text" id="txtmartialstatus" />
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#sstatus").change(function () {
            if ($(this).val() == "M") {
                $("#mmartial").show();
            } else {
                $("#mmartial").hide();
            }
        });
    });
</script>
        
        </div>
        <script type="text/javascript">
        
    
          function ageCalculator() {
              var userinput = document.getElementById("DOB").value;
              var dob = new Date(userinput);
              if(userinput==null || userinput=='') {
                document.getElementById("message").innerHTML = "**Choose a date please!";  
                return false; 
              } else {
            
              var month_diff = Date.now() - dob.getTime();
              var age_dt = new Date(month_diff);   
              var year = age_dt.getUTCFullYear();
              var age = Math.abs(year - 1970);
              return document.getElementById("result").innerHTML =  
                       "Age is: " + age + " years. ";
              }
          }
          
          </script>
      
        </fieldset>
      <br/>
      {% csrf_token %}
      <div class="btn-block">
      <button type="order" >Proceed</button>
      </div>
    </form>
    </div>
  </body>
</html>