<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Management System</title>
    <link rel="stylesheet" href="/static/css/homepage.css" />
  </head>
 
  <body>
    <div class="container">
      <div class="navbar">
        <div class="menu">
          <h3 class="logo">Company Mangement System</span></h3>
          <div class="hamburger-menu">
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="main">
          <header>
            <div class="overlay">
              <div class="inner">
                <h2 class="title">The Future is here</h2>
                <p>
                 Committed to People, Committed to the Future.
                </p>
                <a href="/LMList/form" class="btn">Click Here</a>
              </div>
            </div>
          </header>
        </div>

        <div class="shadow one"></div>
        <div class="shadow two"></div>
      </div>

      <div class="links">
        <ul>
          <li>
            <a href="/LMList/homepage" style="--i: 0.05s;">Home</a>
          </li>
          <li>
            <a href="/LMList/service"style="--i: 0.1s;">Services</a>
          </li>
          <li>
            <a href="/LMList/works" style="--i: 0.15s;">How it Works</a>
          </li>
          <li>
            <a href="/LMList/fifth" style="--i: 0.25s;">About</a>
          </li>
        </ul>
      </div>
    </div>

    <script src="app.js"></script>
    <script>

const hamburger_menu = document.querySelector(".hamburger-menu");
const container = document.querySelector(".container");

hamburger_menu.addEventListener("click", () => {
  container.classList.toggle("active");
});
    </script>

  </body>
</html>