<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/last.css" />

<style>
  body::after {
  content: "";
  background: url(/static/image/image7.jpg);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: fixed;
}
</style>
</head>
 <div class="topnav">
    <a class="active" href="/LMList/homepage">Home</a>
    <a href="/LMList/service">Services</a>
    <a href="/LMList/works">How it Works</a>
    <a href="/LMList/fifth">About</a>
  </div>
<div class="popup center">
  <div class="icon">
    <i class="fa fa-check"></i>
  </div>
  <div class="title">
    Success!!
  </div>
  <div class="description">
    Just wait for the further annoucement regaring to your application to our company. Thank you
  </div>
  
    <a href="/LMList/homepage" id="dismiss-popup-btn">
      Dismiss
    </a>
  
</div>
<body>
  <body>
    
    <div class="about">
      <p>Successfully Apply!</p>
    </div>
    <div class="center">
      <button id="open-popup-btn">
        Done
      </button>
    </div>
        
        <script>
          document.getElementById("open-popup-btn").addEventListener("click",function(){
          document.getElementsByClassName("popup")[0].classList.add("active");
        });
         
        document.getElementById("dismiss-popup-btn").addEventListener("click",function(){
          document.getElementsByClassName("popup")[0].classList.remove("active");
        });
        </script>
    
    </html>
  </body>