<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/services.css" />


</head>
 <div class="topnav">
    <a class="active" href="/LMList/homepage">Home</a>
    <a href="/LMList/service">Services</a>
    <a href="/LMList/works">How it Works</a>
    <a href="/LMList/fifth">About</a>
  </div>
<body>
  <body>
    
  
    <div class="about">
      <p>"A company management system is a website that, before an employee is recruited in a firm, may track what previous companies he or she has worked for. And to also know what were his/her attendance and records at the most recent and preceding company he/she attended"</p>
    </div>
        </script>
    
    </html>
  </body>